body { background: #5e1559; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 43px; display: flex; }
.block-payment-0 { color: #b9d4f9; font-size: 14px; margin-bottom: 5px; }
.block-filter-1 { color: #bbc83; font-size: 15px; margin-bottom: 5px; }
.block-shipping-2 { color: #e6aa94; font-size: 14px; margin-bottom: 5px; }
.block-notify-3 { color: #b55dab; font-size: 18px; margin-bottom: 5px; }
.block-uploader-4 { color: #b6ec64; font-size: 12px; margin-bottom: 5px; }